<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIS-FqyDdApM33K4DslYB2fjM2yQ6c1vs</string>
	<key>GCM_SENDER_ID</key>
	<string>865752709645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.HealthPay</string>
	<key>PROJECT_ID</key>
	<string>healthpay-2d30f</string>
	<key>STORAGE_BUCKET</key>
	<string>healthpay-2d30f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865752709645:ios:ae7b0c51bec36324c33344</string>
</dict>
</plist>